.delivered-container {
  width: 100%;
  margin-top: 60px;
  background: #fff;
}

.delivered-tbl {
  width: 100%;
  border-collapse: collapse;
}

.delivered-tbl thead {
  background: #251a14;
  color: #fff;
}

.delivered-tbl thead tr th {
  font-size: 15px;
  font-weight: 300;
  padding: 0.8rem;
  vertical-align: top;
  border: 1px solid #aab7b8;
}

.delivered-table-image {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.delivered-tbl tbody tr td {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #aab7b8;
  padding: 0.8rem;
}

.delivered-qa {
  height: auto;
  width: 400px;
}

.delivered-tbl tr:nth-child(even) {
  background: #f0efeb;
  transition: all 0.3s ease-in;
}

.new-order-delivered {
  background-color: lightgreen;
}

@media (max-width: 768px) {
  .delivered-tbl thead {
    display: none;
  }
  .delivered-tbl tr,
  .delivered-tbl td {
    display: block;
    width: 100%;
  }
  .delivered-tbl tr {
    margin-bottom: 1rem;
  }
  .delivered-tbl tbody tr td {
    text-align: right;
    position: relative;
    transition: all 0.2s ease-in;
    padding-left: 50%;
    padding-right: 1rem;
  }
  .delivered-tbl td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 1.2rem;
    text-align: left;
    font-weight: 500;
  }
  .delivered-tbl tbody tr td:hover {
    background: #ccc;
    color: #000;
  }
  .delivered-tbl_content {
    padding: 1rem;
  }
  .delivered-qa {
    width: 100%;
  }
  .new-order-delivered {
    background-color: transparent;
  }
}